* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#resultat {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

article {
  border: 1px solid black;
  padding: 1rem;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

article:hover {
  background-color: rgb(216, 216, 216);
}

form {
  margin: 1rem;
}

#cityName,
#countryName {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem;
}

#countryName {
  padding: 0.5rem;
  background-color: rgb(255, 221, 0);
  width: fit-content;
  border-radius: 99%;
  position: absolute;
  top: 0px;
  left: 100%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}

#infos {
  position: relative;
  width: fit-content;
}